//
   Created by leibin on 17/3/25.

.tabcou.like
    ul
        li.ban
            if data.school_setting.classBannerUrl
                button.secbtn.btn.btn-info(style="outline:none") 重新上传
            p.title1 Banner图片
                span 尺寸要求:1920x200px
            .upbox.couban
                img.loading(src='#{data.cdnUrl}/static/images/loading2.gif')
                if data.school_setting.classBannerUrl
                    img.double.imgcouban(src='#{data.school_setting.classBannerUrl}')
                else
                    img.double.imgcouban(src='#{data.cdnUrl}/static/images/addpictures.png')
                label(for='uploadcub1',style='width:100%;height:100%;display:block;position:absolute;top:0;left:0')
                input#uploadcub1.uploadimg(type='file',name='uploadcs1')