//button.select_btn.dance(type="button" data-toggle="modal" data-target="#teacher_alert") 舞蹈
.modal.fade#teacher_alert(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close_btn(type="button" class="close" data-dismiss="modal")
                    img(style='vertical-align: middle', src='#{data.cdnUrl}/static/images/blackcancelicon.png')
                h4.modal-title
            .modal-body.chosse_teacher
                button.chosse_click_btn.all 全部
                button.chosse_click_btn.music 器乐
                button.chosse_click_btn.dance1 舞蹈
                button.chosse_click_btn.art 美术
                button.chosse_click_btn.media 媒体艺术
                button.chosse_click_btn.wushu 武术
                button.chosse_click_btn.chess 棋艺
                span.search_background
                    .input-group
                        input.form-control(type='text' style='outline:none;height:37px')
                    button.btn.btn-info.chosse_click_btn.searchtea(style='outline:none;position:absolute;top:-2px;right:-100px;width:60px') 搜索
                #carousel-teacher.carousel.slide.scrollview(data-ride="carousel")
                    .carousel-inner.aaaabox(role="listbox")
                    a.left.last_page(href="#carousel-teacher" role="button" data-slide="prev")
                        img(style='vertical-align: middle',width='100%', src='#{data.cdnUrl}/static/images/leftslide.png')
                        //<span class="glyphicon glyphicon-chevron-left"></span>
                        //<span class="sr-only">Previous</span>
                    a.right.next_page(href="#carousel-teacher" role="button" data-slide="next")
                        img(style='vertical-align: middle',width='100%', src='#{data.cdnUrl}/static/images/rightslide.png')
                        //<span class="glyphicon glyphicon-chevron-right"></span>
                        //<span class="sr-only">Next</span>
                button.sure.btn-success(data-dismiss="modal") 确定
        //button.select_btn.art 美术
        //button.select_btn.media 媒体艺术
        //button.select_btn.wushu 武术
        //button.select_btn.chess 棋艺

        // **********   end
    script(src="#{data.cdnUrl}/static/js/chosse_teacher.js")