body {
  background-color: #f0f0f0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: none;
}
textarea {
  display: none;
  height: 1px;
  width: 1px;
}
.org_title {
  font-size: 9px;
  color: #999;
  margin: 0;
  display: inline-block;
}
.classroom {
  height: auto;
  padding-bottom: 200px;
}
.classroom p.org_title {
  font-size: 9px;
}
.classroom_list {
  color: #222;
  margin: 0;
  display: inline-block;
  font-size: 10px;
}
.wlzx-nav {
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.wlzx-sort {
  position: relative;
  width: 330px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  left: 3.5%;
  background: #fff;
}
.wlzx-category {
  position: relative;
  width: 110px;
  height: 50px;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}
.wlzx-category:hover {
  background-color: #373e4a;
  color: #fff;
}
.clicked {
  content: '';
  position: absolute;
  top: 50px;
  left: 43px;
  border-top: 8px solid #373e4a;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.select_btn:hover {
  color: #fff;
  background-color: #373e4a;
  background-size: 100%;
}
.all_class {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.only {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-right: 0px;
}
.select_active {
  color: #fff;
  background-color: #373e4a;
  background-size: 100%;
}
.search_back {
  position: absolute;
  right: 125px;
  padding-top: 5px;
  top: 0px;
  display: inline-block;
  border-radius: 6px;
  width: 180px;
  height: 50px;
  background-color: #fff;
  text-align: center;
}
.search_input {
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
  color: #999;
  background-color: #f6f6f6;
  height: 41px;
  width: 170px;
}
.add_teacher {
  position: relative;
  right: 3%;
  width: 50px;
  top: -2px;
  height: 50px;
  border-radius: 5px;
  color: #f6f6f6;
  font-size: 9px;
  background-color: #fff;
}
.allClass {
  position: relative;
  top: 20px;
  border-radius: 8px;
}
.class_item {
  background-color: #fff;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  margin: 2px;
  width: 31%;
  height: 134px;
  left: 3.5%;
}
.class_item:hover {
  background-color: #3fbae4;
  color: #fff;
}
.class_img {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 20px;
  width: 240px;
  height: 150px;
}
.class_name {
  position: relative;
  top: 30px;
}
.class_name span {
  color: #333;
  position: relative;
  font-size: 20px;
  left: 30px;
  text-align: left;
}
.classroom_logo {
  position: relative;
  left: 30px;
}
.class_cum {
  position: relative;
  top: 35px;
}
.class_cum span {
  color: #888;
  position: relative;
  left: 50px;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}
.foot_page {
  position: relative;
  text-align: center;
  top: 50px;
  display: table;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  right: 4px;
}
.pagination li a {
  margin: 0px 10px;
}
.modal-dialog {
  top: 150px;
  width: 600px;
}
.modal-header {
  border-bottom: 0px;
}
.modal-title {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 100;
  color: #333;
}
.modal_box {
  display: block;
  position: relative;
  height: 300px;
  background-color: #fff;
}
.classroom_title {
  position: relative;
  display: inline-block;
  left: 150px;
  width: 350px;
  height: 40px;
  top: 0px;
  font-size: 16px;
}
.classroom_title span {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  font-weight: 100;
  color: #888;
}
.classroom_title .classroom_title_warming {
  position: absolute;
  top: 0px;
  left: 220px;
  font-size: 14px;
  font-weight: 100;
  color: #888;
}
.classroom_title input {
  position: absolute;
  top: -5px;
  left: 80px;
  height: 30px;
  width: 129px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.chosse_type {
  position: relative;
  display: inline-block;
  left: 150px;
  width: 350px;
  height: 40px;
}
.chosse_type p {
  display: inline-block;
  color: #888;
  font-size: 14px;
  font-weight: 100;
}
.btn-group label {
  left: 40px;
  top: 0px;
  padding: 2px 12px;
  height: 30px;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: 25px;
  line-height: 22px;
}
.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 35px;
  line-height: 22px;
}
.btn-group label:hover {
  left: 40px;
  top: 0px;
  padding: 2px 12px;
  color: #fff;
  background-color: #373e4a;
}
.btn-group label.active {
  left: 40px;
  top: 0px;
  padding: 2px 12px;
  color: #fff;
  background-color: #373e4a;
}
.classroom_cum {
  position: relative;
  display: inline-block;
  left: 150px;
  width: 350px;
  height: 40px;
  font-size: 16px;
  top: 10px;
}
.classroom_cum span {
  position: absolute;
  left: 0px;
  font-size: 14px;
  font-weight: 100;
  color: #888;
}
.classroom_cum input {
  position: absolute;
  left: 80px;
  height: 25px;
  width: 129px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.classroom_cum .classroom_num_warming {
  position: absolute;
  left: 220px;
  font-size: 14px;
  font-weight: 100;
  color: #888;
}
.classroom_cum p {
  position: absolute;
  color: #373e4a;
  font-size: 10px;
  top: 30px;
  left: 80px;
}
.add_classroom_btn {
  position: absolute;
  display: inline-block;
  top: 200px;
  left: 250px;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  background-color: #373e4a;
}
.no_content {
  position: relative;
  left: 40%;
  width: 20%;
}
