button {
  border: none;
  outline: none;
}
#teacher_alert .modal-dialog {
  width: 900px;
}
.modal-header .close {
  margin-top: -10px;
}
.chosse_teacher {
  height: 600px;
}
.chosse_click_btn {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  margin-top: 0px;
}
.input-group {
  top: -5px;
}
.search_background {
  position: absolute;
  right: 120px;
  padding-top: 5px;
  display: inline-block;
  border-radius: 6px;
  width: 180px;
  height: 35px;
  background-color: #fff;
  text-align: center;
}
.search_input_chosse {
  text-align: center;
  position: absolute;
  left: 5px;
  top: 4px;
  border-radius: 8px;
  font-size: 18px;
  color: #999;
  background-color: #f6f6f6;
  height: 27px;
  width: 170px;
  outline: none;
}
.searchtea {
  left: 190px;
  top: 1px;
  background-color: #46b8da;
}
#carousel-teacher {
  left: 0;
  position: relative;
  width: 868px;
}
#carousel-course {
  left: 0;
  position: relative;
  width: 868px;
}
.last_page {
  background-color: #fff;
  position: absolute;
  display: inline-block;
  top: 10px;
  height: 160px;
  width: 50px;
}
.scrollview {
  background-color: #fff;
  position: relative;
  display: inline-block;
  left: 54px;
  top: 25px;
  width: 760px;
  height: 260px;
}
.next_page {
  background-color: #fff;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 10px;
  height: 160px;
  width: 50px;
}
.sure {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
.teacher_item {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  height: 260px;
  padding-left: 20px;
  left: 5px;
  position: relative;
  text-align: center;
  background-color: #fff;
}
.teacher_box {
  background-color: #fff;
  position: absolute;
  width: 170px;
  height: 240px;
  left: 10px;
  top: 10px;
  text-align: center;
}
.teacher_img {
  position: relative;
  top: 10px;
  width: 100%;
  height: 120px;
}
.teacher_name {
  font-size: 17px;
  color: #222;
  position: relative;
  top: 20px;
  text-align: center;
}
.teacher_desc {
  color: #d3d3d3;
  position: absolute;
  font-size: 13px;
  left: 20px;
  top: 160px;
  margin-top: 10px;
  text-align: left;
}
.saturating_cum {
  color: #d3d3d3;
  position: absolute;
  font-size: 13px;
  left: 20px;
  top: 200px;
  text-align: left;
}
.aaaabox {
  height: 460px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -380px;
  width: 760px;
}
.cell1 {
  background-color: #fff;
  height: 260px;
  display: block;
}
.add_img {
  position: absolute;
  left: 150px;
  top: 220px;
  width: 25px;
  height: 25px;
}
.sure_c {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #d3d3d3;
}
.saturating_cum_c {
  color: #d3d3d3;
  position: absolute;
  font-size: 13px;
  left: 20px;
  top: 200px;
  text-align: left;
}
#course_alert .modal-dialog {
  width: 900px;
}
.chosse_course {
  height: 400px;
}
.course_item {
  display: inline-block;
  width: 190px;
  height: 260px;
  position: relative;
  text-align: center;
  background-color: #d3d3d3;
}
.course_box {
  background-color: #fff;
  position: absolute;
  width: 170px;
  height: 240px;
  left: 10px;
  top: 10px;
  text-align: center;
}
.course_img {
  display: inline-block;
  position: relative;
  border-radius: 75px;
  top: 10px;
  width: 120px;
  height: 120px;
}
.course_name {
  font-size: 14px;
  color: #222;
  position: relative;
  top: 20px;
  text-align: center;
}
.course_desc {
  color: #999;
  position: relative;
  font-size: 14px;
  font-size: 100;
  top: 20px;
  text-align: center;
}
.wlx-curese-length {
  color: #999;
  position: relative;
  font-size: 14px;
  font-size: 100;
  top: 20px;
  text-align: center;
}
.select_active {
  background-color: #363d4a;
  color: #fff;
}
.hover-box {
  border: 1px solid #ccc;
  position: relative;
  border-radius: 3px;
  bottom: -55px;
  top: 20px;
  width: 100%;
  font-size: 12px;
  text-align: left;
  height: 260px;
  overflow: auto;
}
.chosse_class_li {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.chosse_class_li:hover {
  background-color: #7fd1ed;
  color: #fff;
}
.chosse_class_li_active {
  background-color: #3fbae4;
  color: #fff;
}
.gradeName {
  display: inline-block;
  position: relative;
  left: 3px;
  width: 100px;
  font-size: 15px;
}
.class_info_table {
  right: 0px;
  width: 100px;
}
.class_info_table div {
  padding: 2px 0 2px 0;
  text-align: center;
}
textarea {
  display: none;
  width: 1px;
  height: 1px;
}
.content_box {
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: 500px;
  border-radius: 8px;
}
.light_text {
  position: relative;
  left: 30px;
  color: #999;
  width: 100px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.user_light_text {
  margin: 20px 0px;
}
.child_name_light_text {
  margin: 20px 0px;
}
.child_id_light_text {
  margin: 20px 0px;
}
.chosse_btn_light_text {
  margin: 0px 0px;
  position: absolute;
}
.add_pay_light_text {
  margin: 20px 0px;
}
.user_box_input {
  display: inline-block;
  width: 200px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-top: 5px;
}
.user_box_input input {
  position: relative;
  left: 10px;
  width: 80%;
  border: none;
  outline: none;
}
.child_box_input {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-top: 5px;
}
.child_box_input input {
  position: relative;
  background-color: #fff;
  left: 10px;
  width: 150;
  border: none;
  outline: none;
}
.user_sure_btn {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  top: 2px;
  left: 2px;
  outline: none;
  border: none;
  background-color: #f9f9f9;
}
.chosse_child_btn {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 38px;
  top: 0px;
  right: 0px;
  background-color: #f6f6f6 !important;
  outline: none;
  border: none;
}
.chenage {
  position: relative;
  height: 260px;
}
.chosse_class_btn {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 160px;
  left: 100px;
}
.chosse_class_btn span {
  text-align: center;
  width: 100%;
  left: 0px;
}
.chosse_order_class_info {
  display: none;
  position: relative;
  margin: 0px 20px;
  top: 70px;
  height: 150px;
  border: 2px solid #d3d3d3;
}
.chosse_class_img {
  position: relative;
  top: 10px;
  height: 80%;
  width: 200px;
}
.chosse_class_img img {
  height: 125px;
  width: 200px;
}
.chosse_class_name {
  position: absolute;
  left: 220px;
  top: 10px;
  width: 300px;
  height: 30px;
  line-height: 30px;
}
.chosse_class_teacher {
  position: absolute;
  left: 220px;
  top: 40px;
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.chosse_class_teacher_lv {
  background-color: #f8dc76;
  text-align: center;
  position: absolute;
  border-radius: 4px;
  left: 350px;
  top: 40px;
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.chosse_class_price {
  position: absolute;
  left: 220px;
  top: 70px;
  width: 200px;
  height: 30px;
  line-height: 30px;
}
.chosse_class_detail_info {
  position: absolute;
  left: 220px;
  top: 110px;
  height: 30px;
  line-height: 30px;
}
.chosse_class_cum {
  position: relative;
  left: 800px;
  top: -110px;
  width: 260px;
  height: 100px;
}
.Subtract_chosse_class_btn {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 50px;
  height: 30px;
  background-color: #d3d3d3;
}
.chosse_class_cum input {
  position: absolute;
  left: 60px;
  top: 20px;
  width: 50px;
  height: 30px;
  outline: none;
  border: 1px solid #d3d3d3;
}
.add_chosse_class_btn {
  position: absolute;
  background-color: #00bce7;
  left: 110px;
  top: 20px;
  width: 50px;
  height: 30px;
}
.keshi {
  right: 60px;
  position: absolute;
  top: 24px;
}
.chosse_class_totail_price {
  position: absolute;
  left: 50px;
  top: 70px;
  width: 50px;
  height: 30px;
}
.add_pay_btn {
  display: inline-block;
  width: 60px;
  height: 40px;
  background-color: #ffb6c1;
  text-align: center;
  border: none;
  outline: none;
}
#sub1 {
  width: 100px;
  background-color: #639;
  height: 30px;
}
.cancel {
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #d3d3d3;
  right: 120px;
  top: 550px;
  border-radius: 6px;
}
.submit_order_btn {
  position: absolute;
  width: 112px;
  height: 42px;
  background-color: #00bce7;
  right: 30px;
  color: #fff;
  top: 550px;
  border-radius: 3px;
}
.modal-header {
  min-height: 20px;
  padding: 15px;
  border-bottom: 0px;
}
