body {
  font-family: 'Raleway', Arial, sans-serif;
}
ul {
  list-style-type: none;
}
body,
div,
figure,
ul,
li,
section {
  margin: 0 0;
  padding: 0 0;
}
div {
  box-sizing: border-box;
}
a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.amap-logo {
  z-index: 0;
}
header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #fff;
  z-index: 15;
}
.top-line {
  height: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 10%;
  position: relative;
}
.nav-container {
  position: relative;
  width: 390px;
  height: 35px;
  left: 20%;
}
.navi {
  position: absolute;
  width: 100%;
  height: 100%;
}
.navi a {
  color: #010101;
}
.navi li {
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-top: 5px;
  margin-right: 2px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
.navi li a:hover {
  color: #2d68bb;
}
a:hover {
  color: #2d68bb;
}
.logo-wrapper {
  height: 50px;
  width: 234px;
}
.dropdown {
  display: none;
}
.search {
  position: absolute;
  left: 70.5%;
  width: 218px;
  height: 36px;
  top: 35%;
  padding-left: 10px;
  border-radius: 18px;
  background: #f0f0f0;
}
span#subject {
  height: 100%;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  border: none;
  color: #999;
}
.input {
  position: absolute;
  box-sizing: border-box;
  left: 56px;
  top: 0;
  height: 34px;
  width: 63%;
  text-align: center;
  outline: none;
}
.input input {
  position: absolute;
  width: 100%;
  height: 36px;
  padding-top: 3px;
  left: 0;
  outline: none;
  font-size: 13px;
  text-indent: 8px;
  background: #f0f0f0;
  border-left: 1px solid #ccc;
  border-top: none;
  box-sizing: border-box;
}
span.icon {
  position: absolute;
  right: 8px;
  width: 14px;
  height: 14px;
  top: 8px;
}
.register-login {
  position: absolute;
  right: 8%;
}
.register-login a {
  color: #2c2c2c;
}
.main_menu {
  display: none;
}
.p_name {
  margin-left: 5px;
}
.p_img {
  width: 30px;
  height: 30px;
  border: 1px solid #f00;
  border-radius: 50%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Arial, sans-serif;
}
textarea {
  display: none;
}
a {
  text-decoration: none;
  color: #ccc;
}
a:hover {
  color: #2d68bb;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
}
.clearfix:after {
  clear: both;
}
div.badoo {
  margin: 0;
  font-size: 14px;
  color: #999;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
}
div.badoo a {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0px 1px;
  color: #999;
  background-color: #fff;
  text-decoration: none;
}
div.badoo a:hover {
  background-color: #f5d100;
}
div.badoo span.current {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  background-color: #f5d100;
}
div.badoo span.disabled {
  display: none;
}
div.badoo a.show {
  display: inline-block;
  width: 90px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  color: #999;
  background-color: #fff;
  text-decoration: none;
}
div.badoo a.show:hover {
  background-color: #f5d100;
}
div.badoo a.sss {
  font-size: 14px;
  width: 50px;
}
.amap-logo {
  z-index: 0;
}
