.nav-top {
  -webkit-box-flex: 1;
  flex-grow: 1;
  background: #f0f0f0;
}
.nav-center {
  -webkit-box-flex: 2.5;
  flex-grow: 2.5;
  background: #fff;
}
.nav-bottom {
  -webkit-box-flex: 1;
  flex-grow: 1;
  background: #2d68bb;
}
.school-nav {
  position: absolute;
  left: 8%;
  height: 100%;
  width: 26%;
}
.nav-list {
  position: absolute;
  left: 7.3%;
  height: 100%;
  width: 30%;
}
.nav-list a:hover {
  color: #2d68bb;
}
.nav-top ul,
.nav-bottom ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
}
.nav-top li,
.nav-bottom li {
  display: inline-block;
  height: 100%;
  line-height: 36px;
  text-align: center;
  width: 18.8%;
  box-sizing: border-box;
  margin-right: 0;
}
.nav-top li a {
  font-size: 14px;
  color: #3d3d3d;
}
.nav-bottom li a {
  color: #91a9d6;
}
.nav-top li:nth-last-of-type(3) {
  margin-left: -25px;
}
.nav-top li:nth-last-of-type(2) {
  margin-left: -25px;
}
.nav-top li:nth-last-of-type(1) {
  margin-left: -25px;
}
.nav-bottom li {
  width: 23%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.whf {
  border-bottom: 3px solid #ff0;
}
.nav-center a,
.course-list a {
  display: block;
  width: 100%;
  height: 100%;
}
.school-image {
  position: absolute;
  left: 8.1%;
  width: 247px;
  height: 48px;
  top: 50%;
  margin-top: -24px;
}
.comment {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 14px;
}
.rating {
  width: 30%;
  height: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.online-ask {
  position: absolute;
  right: 10%;
  height: 80%;
  top: -10px;
}
.tot-com {
  position: absolute;
  left: 33%;
  height: 100%;
  width: 15%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}
.tot-com span {
  color: #f00;
}
select {
  width: 20%;
  height: 100%;
  margin-right: 0;
  padding: 0;
  font-size: 14px;
}
.single-line {
  position: absolute;
  width: 1px;
  height: 30px;
  background: #ccc;
  left: 30%;
  top: 30px;
}
.search {
  position: absolute;
  left: 75.5%;
  width: 218px;
  height: 36px;
  top: 35%;
  padding-left: 10px;
  border-radius: 18px;
  background: #f0f0f0;
}
#subject {
  height: 100%;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  color: #999;
}
.input {
  position: absolute;
  box-sizing: border-box;
  left: 56px;
  top: 0;
  height: 34px;
  width: 63%;
  text-align: center;
  outline: none;
}
.input input {
  position: absolute;
  width: 100%;
  height: 36px;
  padding-top: 3px;
  left: 0;
  outline: none;
  font-size: 13px;
  text-indent: 8px;
  background: #f0f0f0;
  border-left: 1px solid #ccc;
  border-top: none;
  box-sizing: border-box;
}
.icon {
  position: absolute;
  right: 5px;
  width: 14px;
  height: 14px;
  top: 12px;
}
