.nav-Top {
  position: relative;
  width: 93%;
  height: 50px;
  display: -webkit-box;
  display: flex;
  margin-top: 20px;
  left: 3.5%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.sort {
  width: 770px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  background: #fff;
}
.category {
  position: relative;
  width: 110px;
  height: 50px;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  color: #888;
  font-size: 16px;
  cursor: pointer;
}
.category a {
  display: block;
  text-decoration: none;
  color: #888;
}
.category a:hover {
  background: #373e4a;
  color: #fff;
}
.category:nth-of-type(1) a {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.category:nth-last-child(1) a {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.category a:hover::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 46px;
  border-top: 8px solid #373e4a;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.picked {
  background: #373e4a;
  color: #fff;
}
.clicked {
  content: '';
  position: absolute;
  top: 50px;
  left: 46px;
  border-top: 8px solid #373e4a;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.vg_end {
  display: -webkit-box;
  display: flex;
  width: 270px;
  height: 50px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.search {
  width: 160px;
  height: 50px;
  background: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}
.search_input {
  text-align: center;
  outline: none;
  position: absolute;
  left: 5px;
  top: 4px;
  border-radius: 8px;
  font-size: 18px;
  color: #999;
  background-color: #f6f6f6;
  height: 42px;
  width: 150px;
  border: 0px;
}
#contentStuPar {
  width: 93%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
}
#contentStuPar .tableClassList {
  width: 97%;
  margin: 0 auto;
  background: transparent;
}
#contentStuPar .tableClassList .content {
  background: #fff;
  border: 10px solid transparent;
  border-radius: 5px;
}
#contentStuPar .img {
  height: 60px;
  width: 60px;
  display: inline-block;
  background: #fafad2;
  margin: auto 20px 0;
}
#contentStuPar .contentText {
  display: inline-block;
  padding: 30px;
}
#contentStuPar li {
  list-style: none;
}
#contentStuPar li {
  font-size: 5px;
  padding-bottom: 5px;
}
#contentStuPar li .name {
  font-size: 18px;
}
#contentStuPar li .agetext {
  font-size: 8px;
}
#contentStuPar ul .bottomContent .pading {
  height: 20px;
  width: 50px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  background: #afd8f0;
  font-size: 5px;
  color: #fff;
}
#contentStuPar ul .bottomContent .latinDance {
  height: 20px;
  width: 70px;
  display: inline-block;
  background: #f6d97c;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  margin-left: 7px;
  font-size: 5px;
  color: #fff;
}
.order_wlx {
  position: absolute;
  right: 20px;
  top: 20px;
}
.img_lll {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 40px;
}
div,
li,
body,
ul,
table,
tr,
th,
img {
  padding: 0;
  margin: 0;
}
body {
  background: #f0f0f0;
}
div {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #00ba97;
  border: none;
}
#contentStuPar .content {
  display: -webkit-box;
  display: flex;
  padding-left: 2%;
  -webkit-box-align: center;
  align-items: center;
  width: 32.8%;
  margin-right: 0.5%;
  background-color: #fff;
  min-width: 321px;
  margin-bottom: 15px;
}
.wlx_bottom_page {
  width: 90%;
  margin-top: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 300px;
}
