.container1 {
  position: relative;
  margin: 20px auto;
  width: 97%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
#content {
  padding-bottom: 30px;
}
.top1,
.center,
.bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.top1 {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: flex;
}
@media screen and (min-width: 1500px) and (max-width: 1800px) {
  .top1 {
    height: 230px;
  }
}
@media screen and (min-width: 1800px) {
  .top1 {
    height: 360px;
  }
}
.static {
  position: relative;
  background: #fff;
  width: 32%;
  height: 200px;
  border-radius: 8px;
}
@media screen and (min-width: 1500px) and (max-width: 1800px) {
  .static {
    height: 230px;
  }
}
@media screen and (min-width: 1800px) {
  .static {
    height: 360px;
  }
}
.center {
  width: 100%;
  height: 250px;
  margin-top: 20px;
}
@media screen and (min-width: 1500px) and (max-width: 1800px) {
  .center {
    height: 280px;
  }
}
@media screen and (min-width: 1800px) {
  .center {
    height: 310px;
  }
}
.static1 {
  position: relative;
  width: 49.1%;
  height: 250px;
  background: #fff;
  border-radius: 8px;
}
@media screen and (min-width: 1500px) and (max-width: 1800px) {
  .static1 {
    height: 280px;
  }
}
@media screen and (min-width: 1800px) {
  .static1 {
    height: 310px;
  }
}
.bottom {
  width: 100%;
  display: -webkit-box;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.schedule {
  position: relative;
  width: 49.1%;
  background: #fff;
}
.class-list {
  width: 49.1%;
  padding-bottom: 20px;
  background: #fff;
}
.week {
  height: 25px;
  text-align: center;
}
.time {
  height: 50px;
  width: 9%;
}
.show {
  position: absolute;
  width: 88.27%;
  left: 11.73%;
  top: 88px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.line {
  position: relative;
  border-top: 2px solid #f0f0f0;
  width: 100%;
  height: 50px;
}
img.tea {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.static ul {
  width: 180px;
  height: 90px;
  margin-left: 20px;
}
span.info {
  margin-left: 10px;
}
.static li {
  margin-bottom: 15px;
}
.subject,
.subject1 {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background: #6495ed;
  width: 70px;
  margin-right: 15px;
  border-radius: 5px;
}
.subject1 {
  background: #ffc0cb;
}
.static a {
  position: absolute;
  width: 13px;
  height: 16px;
  top: 10px;
  right: 10px;
}
.edit {
  display: block;
}
#charts1,
#charts2 {
  position: absolute;
  width: 126%;
  height: 230px;
  left: -11%;
  top: -10px;
}
.rate,
.study {
  width: 100%;
  text-align: center;
  line-height: 40px;
  color: #888;
  font-size: 17px;
}
#charts3 {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 50px;
  top: 30px;
}
#charts4 {
  position: absolute;
  width: 550px;
  height: 250px;
  left: 0;
  top: 0;
}
.list {
  margin: 20px 0 0 30px;
  color: #2c2c2c;
  font-size: 20px;
}
.detail {
  margin: 20px auto;
  width: 90%;
  height: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.detail div {
  width: 32%;
  height: 30px;
  background: #f0f0f0;
  border-radius: 2px;
  line-height: 30px;
  text-align: center;
}
.infos {
  margin: 20px auto;
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.such {
  width: 32%;
  height: 60px;
  background: #f6f6f6;
  border-radius: 5px;
  line-height: 60px;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.occupy {
  height: 50px;
  background: #ccc;
}
.active {
  background: #3fbae4;
}
