.wlzx-nav {
  position: relative;
  width: 1000px;
  height: 50px;
  display: -webkit-box;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.wlzx-sort {
  position: relative;
  width: 770px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  left: 20px;
  background: #fff;
}
.wlzx-category {
  position: relative;
  width: 110px;
  height: 50px;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}
.wlzx-category:hover {
  background-color: #373e4a;
  color: #fff;
}
.wlzx-search {
  position: relative;
  left: 20px;
  width: 160px;
  height: 50px;
  background: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.wlzx-add {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}
body {
  background-color: #f0f0f0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: none;
}
textarea {
  display: none;
  height: 1px;
  width: 1px;
}
#content .classroom {
  background-color: #f0f0f0;
}
.clicked {
  content: '';
  position: absolute;
  top: 50px;
  left: 43px;
  border-top: 8px solid #373e4a;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.org_title {
  font-size: 9px;
  color: #999;
  margin: 0;
  display: inline-block;
}
.classroom {
  height: auto;
  padding-bottom: 200px;
}
.classroom p.org_title {
  font-size: 9px;
}
.classroom_list {
  color: #222;
  margin: 0;
  display: inline-block;
  font-size: 10px;
}
.banner {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.select_btn {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 48px;
  width: 100px;
  height: 48px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  margin-top: 0px;
  color: #222;
  font-weight: 100;
  font-size: 12px;
}
.all_class {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.chess {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.search_back {
  position: absolute;
  right: 100px;
  padding-top: 5px;
  display: inline-block;
  border-radius: 6px;
  width: 180px;
  height: 50px;
  background-color: #fff;
  text-align: center;
}
.search_input {
  text-align: center;
  position: absolute;
  left: 5px;
  top: 4px;
  border-radius: 8px;
  font-size: 18px;
  color: #999;
  background-color: #f6f6f6;
  height: 42px;
  width: 150px;
}
.add_teacher {
  position: relative;
  left: 30px;
  top: -2px;
}
.sort_banner {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.default {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  margin-top: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #222;
  font-weight: 100;
  font-size: 12px;
}
.sort_rate {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  margin-top: 0px;
  color: #222;
  font-weight: 100;
  font-size: 12px;
}
.sort_saturating {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  margin-top: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #222;
  font-weight: 100;
  font-size: 12px;
}
.sort_banner button span {
  font-size: 15px;
}
.class_rate {
  position: relative;
  left: -10px;
}
.saturating {
  position: relative;
  left: -10px;
}
.default img {
  width: 0px;
  height: 0px;
}
.sort_select {
  border: 1px solid #00bce7;
  color: #00bce7;
}
.allClass {
  position: relative;
  text-align: left;
  top: 20px;
  border-radius: 8px;
  height: auto;
  background-color: #f0f0f0;
}
.teacher_item {
  display: inline-block;
  width: 22.5%;
  margin-left: 2%;
  margin-top: 1%;
  padding-bottom: 23%;
  position: relative;
  text-align: center;
}
.teacher_box {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.teacher_img {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 10%;
  left: 25%;
  width: 50%;
}
.teacher_name {
  font-size: 17px;
  color: #222;
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}
.teacher_rate {
  color: #d3d3d3;
  position: absolute;
  font-size: 13px;
  top: 75%;
  width: 100%;
  text-align: left;
}
.teacher_rate span {
  position: relative;
  left: 20%;
}
.saturating_cum {
  color: #d3d3d3;
  position: relative;
  font-size: 13px;
  top: 85%;
  width: 100%;
  text-align: left;
}
.saturating_cum span {
  position: relative;
  left: 20%;
}
.foot_page {
  position: relative;
  text-align: center;
  top: 0px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  top: 50px;
  right: 4px;
}
.pagination li a {
  margin: 0px 10px;
}
.modal-dialog {
  width: 660px;
}
.modal-header {
  border-bottom: 0px;
}
.modal-header .close {
  margin-top: -20px;
}
.close {
  font-size: 51px;
  font-weight: 200;
}
.add_left {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 300px;
  float: left;
}
p.add_title {
  font-size: 17px;
  color: #d3d3d3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input.input_tel {
  border: 1px solid #d3d3d3;
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #808080;
}
button.tel_sure {
  background-color: #363d4b;
  border-left: 20px;
  width: 70px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
}
p.tel_warning {
  color: #f00;
}
.add_cell {
  background-color: #fff;
  height: 50px;
  font-size: 16px;
  margin: 0px 10px;
}
span.tel {
  margin-top: 5px;
  color: #222;
  display: inline-block;
  width: 100px;
  height: 40px;
}
span.state {
  margin-top: 5px;
  color: #222;
  display: inline-block;
  width: 80px;
  height: 40px;
}
button.add_again {
  margin-top: 5px;
  color: #222;
  display: inline-block;
  width: 80px;
  height: 40px;
}
button.add_cancel {
  margin-top: 5px;
  color: #222;
  display: inline-block;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
.add_right {
  display: inline-block;
  position: relative;
  width: 220px;
  height: 300px;
  margin-left: 10px;
}
.input_url {
  border: 1px solid #d3d3d3;
  width: 130px;
  height: 30px;
  font-size: 16px;
  color: #808080;
}
.copy_btn {
  margin-left: 10px;
  width: 80px;
  height: 30px;
  color: #fff;
  background-color: #363d4b;
}
.url_img {
  display: inline-block;
  margin: 10px 10px;
  background-color: #fff;
  pointer-events: normal;
}
.select_btn:hover {
  color: #fff;
  background-color: #384858;
  background-size: 100%;
}
.select_active {
  color: #fff;
  background-size: 100%;
  background-color: #373e4a;
}
