body,
div,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
  background-color: #f0f0f0;
}
div {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.ul,
div,
body,
li,
img {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
#head_main {
  position: relative;
  background: #373d49;
  height: 50px;
  width: 100%;
}
#head_main img.qq {
  margin: 10px 0 0 30px;
}
a.log {
  text-decoration: none;
}
.logout {
  position: absolute;
  width: 50px;
  height: 40px;
  top: 10px;
  right: 8%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#leftmenu {
  position: absolute;
  top: 0;
  padding: 50px 0 30px 0;
  overflow-y: scroll;
  width: 16%;
  height: 100%;
  background: #323d49;
}
#leftmenu::-webkit-scrollbar {
  width: 0;
}
#leftmenu a {
  display: block;
  color: #babdc2;
  font-size: 16px;
  text-decoration: none;
}
#leftmenu .school {
  height: 60px;
  background: #373d49;
  font-size: 15px;
  text-indent: 20px;
  color: #bcbdc1;
  line-height: 60px;
}
#leftmenu .school.active {
  background: #323d49;
  color: #eff8ff;
}
#leftmenu li.left {
  list-style: none;
  width: 100%;
  height: 50px;
  background: #384857;
  text-indent: 50px;
  line-height: 50px;
}
li.left img {
  width: 16px;
  height: 16px;
}
#leftmenu .school:hover {
  cursor: pointer;
}
#leftmenu i {
  width: 50px;
}
#leftmenu .left span {
  margin-left: 20px;
}
a.active {
  background: #3fbae4;
}
#leftmenu li a:hover {
  background: #1670a2;
  text-decoration: none;
  color: #fff;
}
#leftmenu li a:hover .sprite {
  background-position: 0 16px;
}
div.intro {
  display: inline;
  margin-left: 15px;
}
div.sprite {
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  display: inline-block;
}
#leftmenu a.active1 {
  background: #1670a2;
  text-decoration: none;
  color: #fff;
}
#leftmenu a.active1  .sprite {
  background-position: 0 16px;
}
#content {
  position: absolute;
  left: 16%;
  width: 84%;
  height: 100%;
  overflow-y: auto;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
textarea {
  display: none;
  height: 1px;
  width: 1px;
}
