//
   Created by beingRay on 17/1/16.

.footer
    .footer-top
        .footer-content.conten1(style='width:22%')
            .bottom-logo(style='position: absolute;width:90%;left:1%;height:50px; ')
                a(href='')
                    img(width='100%', height='100%', src='#{data.cdnUrl}/static/images/logo.png', alt='')
            .contact-us(style='position: absolute;top:60px;width:100%;height:200px; ')
                ul(style='position: absolute;width:100%;height: 100%;margin-top:16px;\
            ')
                    li(style='text-align:start;margin-bottom: 20px;color: #cccccc') 联系电话&nbsp:&nbsp400-092-9922
                    li(style='text-align:start;margin-bottom: 25px;color: #cccccc') 电子邮箱&nbsp:&nbspbeingRay@qq.com
                    li.contact-bottom(style='text-align:start;margin-bottom: 5px;') ©️&nbsp版权所有:未来星艺术学校
                    li.contact-bottom(style='text-align:start;margin-bottom: 5px')
                        a(href='') www.beingRay.com
                    li.contact-bottom(style='text-align:start;margin-bottom: 5px') 鄂ICP备15018203号-1

        .footer-content.content2(style='width:8%')
            ul
                li 合作
                li 如何加盟
                li 机构登陆
        .footer-content.content2(style='width:8%')
            ul
                li 关于我们
                li
                    a(href='/about_us/') 关于未来星
                // 这里价跳转地址
                li
                    a(href='/join_us/') 加入我们
        .footer-content.content2(style='width:9%;margin-left: 40px')
            span.download
                | 官方微信
            div(style='position: absolute;width:100%;height:100px;top:52px; ')
                a(href='')
                    img(width='100%', height='100%', src='#{data.cdnUrl}/static/images/wechat.png', alt='')
        .footer-content.content2(style='width:22%;margin-right: -20px')
            span.download1 App下载
            div(style='position: absolute;width:100px;height:100px;top:52px;left:12%')
                a(href='')
                    img(width='100%', height='100%', src='#{data.cdnUrl}/static/images/parentedition.png', alt='')
            div(style='position: absolute;width:100px;height:100px;top:52px;left:56%')
                a(href='')
                    img(width='100%', height='100%', src='#{data.cdnUrl}/static/images/teacheredition.png', alt='')
    .footer-middle
        .footer-extra
            .outter-link
                | 友情链接&nbsp:
            .bottom-container
                ul.bottom-content
                    li essay代写
                    li 928教育
                    li 幼儿园加盟
                    li 南京拉丁舞
                    li 教育培训机构排名
                    li 深圳青少年英语
                    li 少林寺武术学校