
#learningClass
     table
         caption 在学班级
         tbody.learning
             tr.head(style='color : #666666; font-size : 16px;  height : 30px')
               th 班级名称
               th 老师名称
               th 剩余课次
             //tr
             //   th 美术班初级入门班集体课三(1)班
             //   th 张三丰
             //   th 12/30
             //tr
             //    th 钢琴二班
             //    th 刘伊
             //    th  2/40
             //tr
             //    th 钢琴二阶一对一
             //    th 霍元甲
             //    th 12/30
             // tr.bottom
             //    th
             //    th
             //    th

