

.start
    .input-group
        input.ins_show.form-control.ins(data-wlx-start="#{data.start_time}" type='text',name='starttime',readonly='yes',style="outline:none")
        //span.times.input-group-addon
        //    span.glyphicon.glyphicon-chevron-down
    #selectti(style="background-color: #999999;height:40px;width:200px;position:relative;top: 50px;z-index: 1000;padding-left: 10px")
        div(style="position: absolute;top:50%;margin-top:-9px;width: 200px")
            span 时
            select#hour
                option 00
                option 01
                option 02
                option 03
                option 04
                option 05
                option 06
                option 07
                option 08
                option 09
                option 10
                option 11
                option 12
                option 13
                option 14
                option 15
                option 16
                option 17
                option 18
                option 19
                option 20
                option 21
                option 22
                option 23
            span 分
            select#minute
                option 00
                option 01
                option 02
                option 03
                option 04
                option 05
                option 06
                option 07
                option 08
                option 09
                option 10
                option 11
                option 12
                option 13
                option 14
                option 15
                option 16
                option 17
                option 18
                option 19
                option 20
                option 21
                option 22
                option 23
                option 24
                option 25
                option 26
                option 27
                option 28
                option 29
                option 30
                option 31
                option 32
                option 33
                option 34
                option 35
                option 36
                option 37
                option 38
                option 39
                option 40
                option 41
                option 42
                option 43
                option 44
                option 45
                option 46
                option 47
                option 48
                option 49
                option 50
                option 51
                option 52
                option 53
                option 54
                option 55
                option 56
                option 57
                option 58
                option 59
        button#turestart(style="height: 26px;width: 50px;position: absolute;right: 10px;top:50%;margin-top:-13px;") 确定